:root[data-theme=light] {
    /* Темная тема  */
    --color-black: #000;
    --color-dark: #24292e;
    --color-background: #f6f8fa;
    --color-border: #eaecef;
    /*  */
    --color-white: #fff;
    --color-gray: #e6e6e6;
    --color-dark-gray: #c6c6c6;
    --color-blue: #005aaa;
    --color-pink: #e72b70;
    --color-black: #000;
    /* Всякое */
    --text-default: var(--color-black);
    --body-background: var(--color-background);
    --header-background: var(--color-white);
    --header-text: var(--color-blue);
    /* Левые настроки */
    --aside-background: var(--color-white);
    --week-switch-unactive-color: var(--color-white);
    --text-date-down: var(--color-blue);
    --text-date-up: var(--color-pink);
    --aside-block-border: var(--color-border);
    /* Кнопки */
    --button-background: var(--color-blue);
    --button-disabled-background: var(--color-dark-gray);
    --button-active: var(--color-pink);
    --button-color: var(--color-white);
    --button-disabled-color: var(--color-white);
    /* Поиск */
    --search-input-background: var(--color-pink);
    --search-input-valid-background: var(--color-blue);
    --search-input-color: var(--color-white);
    --search-input-valid-color: var(--color-white);
    --search-input-placeholer: var(--color-white);
    /* Доп. Инфа */
    --additional-inf-lesson-name: var(--color-blue);
    --additional-inf-lesson-time: var(--color-pink);
    --additional-inf-preps-name: var(--color-blue);
    --additional-inf-group-number: var(--color-pink);
    --additional-inf-rooms-number: var(--color-blue);
    /* Ссылка на guap.rasp */
    --info-sourse-label-color: var(--color-blue);
    --info-sourse-label-link-color: var(--color-pink);
    /* Само расписание */
    --article-background: var(--color-white);
    --article-borders: var( --color-border);
    --lesson-hover-background: var(--color-gray);
    --day-name: var(--color-blue);
    --lesson-time: var(--color-blue);
    --lesson-classroom: var(--color-pink);
    --lesson-type: var(--color-black);
    --lesson-box-shadow: var(--color-gray);
    /* Настройки */
    --settings-button-open: var(--color-dark-gray);
    --settings-button-close: var(--color-gray);
    --settings-background: var(--color-white);
    --settings-background-background: var(--color-black);
    --settings-title: var(--color-blue);
    --setting-delimiter: var(--color-gray);
    --settings-button-open-hover: var(--color-blue);
    --settings-button-close-hover: var(--color-pink);
    --settings-checkbox: var(--color-pink);
    /* Переключатель */
    --switch-background: var(--color-gray);
    --switch-but-on: var(--color-blue);
    --switch-but-off: var(--color-dark-gray);
    /* Селект */
    --select-head-beckground: var(--color-blue);
    --select-head-color: var(--color-white);
    --select-option-background: var(--color-white);
    --select-option-color: var(--color-blue);
    --select-option-hover-background: var(--color-blue);
    --select-option-hover-color: var(--color-white);
    /* Селект с поиском */
    --select-search-option-color: var(--color-blue);
    --select-search-option-background: var(--color-white);
    --select-search-option-border: var(--color-blue);
    --select-search-option-hover-color: var(--color-white);
    --select-search-option-hover-background: var(--color-pink);
    --select-search-opetions-innerShadow: var(--color-black);
    /* Прелоадер */
    --preloader-fill: var(--color-blue);
}

[data-theme=light] .grid {
    gap: 0;
}

[data-theme=light] .header_background {
    border-bottom: 2px solid var(--color-border);
    box-shadow: 0 0 5px var(--color-border);
}

[data-theme=light] article {
    margin: 20px 20px;
    border: 1px solid var(--color-border);
}

[data-theme=light] aside {
    border-right: 1px var(--color-border);
    padding-top: 15px;
}

[data-theme=light] article.table>div:nth-child(-n+9) {
    border-left: none;
}

[data-theme=light] article.table:not(.extended)>div:nth-child(9n-2) {
    border-bottom: none;
}

[data-theme=light] article.table.extended>div:nth-child(9n) {
    border-bottom: none;
}

[data-theme=light] .grid {
    padding-bottom: 0;
}

[data-theme=light] aside {
    margin-left: 0;
}

[data-theme=light] aside>span {
    margin-bottom: 5px;
}
