/* Чекбокс */

.switch>input {
    display: none;
}

.switch>div {
    box-sizing: content-box;
    width: 30px;
    height: 15px;
    background-color: var(--switch-background);
    border-radius: 15px;
    position: relative;
}

.switch>div::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--switch-but-off);
    border-radius: 50%;
    padding: 2px;
    top: -2px;
    left: -2px;
    transition: left 0.2s ease-in-out, background-color 0.2s ease-in-out, transform 0.1s;
}

.switch:hover>div::after {
    transform: scale(1.1);
}

.switch>input:checked+div:after {
    left: 15px;
    background-color: var(--switch-but-on);
}

/* Селект */

.select {
    cursor: pointer;
    position: relative;
    min-width: 120px;
    z-index: 1;
    user-select: none;
}

.select>input {
    display: none;
}

.select .select-head {
    width: 100%;
    padding: 6px 20px 6px 10px;
    background-color: var(--select-head-beckground);
    color: var(--select-head-color);
    transition: all 0.2s ease-in;
}

.select .select-head:after {
    content: "▼";
    position: absolute;
    right: 10px;
    transition: transform 0.3s;
}

.select.active .select-head:after {
    transform: rotate(180deg);
}

.select .select-head:hover::after {
    transform: scale(1.2);
}

.select.active .select-head:hover::after {
    transform: scale(1.2) rotate(180deg);
}

.select .select-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}

.select.active .select-options {
    display: block;
}

.select .select-options>div {
    padding: 6px 20px 6px 10px;
    background-color: var(--select-option-background);
    border: 1px solid var(--select-head-beckground);
    border-top: none;
    color: var(--select-option-color);
    transition: all 0.15s ease-in;
}

.select .select-options>div:hover {
    color: var(--select-option-hover-color);
    background: var(--select-option-hover-background);
}

/* Селект с поиском*/

.select-search {
    cursor: pointer;
    position: relative;
    min-width: 120px;
    user-select: none;
}

.select-search.active .select-options {
    display: block;
}

.select-search .select-options {
    display: none;
    position: relative;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 500px;
    overflow-y: scroll;
    border-bottom: 1px solid var(--select-search-option-border);
    z-index: 1;
    scrollbar-width: none;
    box-sizing: content-box;
}

.select-search .select-options::-webkit-scrollbar {
    display: none;
}

.select-search .active .select-options {
    display: block;
}

.select-search .select-options>div {
    padding: 6px 20px 6px 10px;
    background-color: var(--select-search-option-background);
    border: 1px solid var(--select-search-option-border);
    border-bottom: none;
    color: var(--select-search-option-color);
    transition: all 0.15s ease-in;
}

.select-search .select-options>div:hover {
    color: var(--select-search-option-hover-color);
    background: var(--select-search-option-hover-background);
}

.select-search .select-options-wrapper {
    position: absolute;
    overflow: hidden;
    width: 100%;
}

.select-search .select-options-wrapper.needInnerShadow::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 1;
    bottom: -1px;
    left: 0;
    right: 0;
    display: block;
    box-shadow: 0 0 6px var(--select-search-opetions-innerShadow);
    z-index: 1;
}

/* Кнопка */

.but {
    width: 190px;
    height: 30px;
    outline: none;
    border: none;
    background-color: var(--button-background);
    color: var(--button-color);
    cursor: pointer;
    transition: transform 0.05s, background-color 0.1s ease-in-out;
}

.but:hover {
    transform: scale(1.03);
}

.but.background-change {
    transition: background-color 0.1s ease-in-out;
}

.but.background-change:active {
    background-color: var(--button-active);
}

.but:disabled {
    background-color: var(--button-disabled-background);
    color: var(--button-disabled-color);
    cursor: default;
}
