:root {
	/* Светлая тема  */
	--color-white: #fff;
	--color-gray: #e6e6e6;
	--color-dark-gray: #c6c6c6;
	--color-blue: #005aaa;
	--color-pink: #e72b70;
	--color-black: #000;
	--text-default: var(--color-black);
	--body-background: var(--color-gray);
	--header-background: var(--color-white);
	--header-text: var(--color-blue);
	--aside-background: var(--color-white);
	--text-date-down: var(--color-blue);
	--text-date-up: var(--color-pink);
	--aside-block-border: var(--color-gray);
	--button-background: var(--color-blue);
	--button-disabled-background: var(--color-dark-gray);
	--button-active: var(--color-pink);
	--button-color: var(--color-white);
	--button-disabled-color: var(--color-white);
	--search-input-background: var(--color-pink);
	--search-input-valid-background: var(--color-blue);
	--search-input-color: var(--color-white);
	--search-input-valid-color: var(--color-white);
	--search-input-placeholer: var(--color-white);
	--additional-inf-lesson-name: var(--color-blue);
	--additional-inf-lesson-time: var(--color-pink);
	--info-sourse-label-color: var(--color-blue);
	--info-sourse-label-link-color: var(--color-pink);
	--article-background: var(--color-white);
	--article-borders: var(--color-gray);
	--lesson-hover-background: var(--color-gray);
	--day-name: var(--color-blue);
	--lesson-time: var(--color-blue);
	--lesson-classroom: var(--color-pink);
	--lesson-type: var(--color-black);
	--lesson-box-shadow: var(--color-gray);
	--settings-button-open: var(--color-dark-gray);
	--settings-button-close: var(--color-gray);
	--settings-background: var(--color-white);
	--settings-background-background: var(--color-black);
	--settings-title: var(--color-blue);
	--setting-delimiter: var(--color-gray);
	--settings-button-open-hover: var(--color-blue);
	--settings-button-close-hover: var(--color-pink);
	--preloader-fill: var(--color-blue);
	--switch-unactive-color: var(--color-white);
	/*Прелоадер*/
	--main-preloader-vignette: var(--color-black);
	--main-preloader-top-left-background: var(--color-blue);
	--main-preloader-bottom-right-background: var(--color-pink);
}

body.dark {
	/* Темная тема  */
	--color-black: #000;
	--color-dark: #141414;
	--color-dark-dark: #111111;
	--color-background: #212121;
	--color-white: #ccc;
	--color-border: #414141;
	--color-blue: #3589D4;
	--color-dark-blue: #005aaa;
	--color-pink: #ff4c8e;
	--color-dark-pink: #e72b70;
	--text-default: var(--color-white);
	--body-background: var(--color-dark);
	--header-background: var(--color-background);
	--header-text: var(--color-blue);
	--aside-background: var(--color-background);
	--text-date-down: var(--color-blue);
	--text-date-up: var(--color-pink);
	--aside-block-border: var(--color-dark);
	--button-background: var(--color-dark-blue);
	--button-disabled-background: var(--color-black);
	--button-active: var(--color-dark-pink);
	--button-color: var(--color-white);
	--button-disabled-color: var(--color-border);
	--search-input-background: var(--color-dark);
	--search-input-valid-background: var(--color-dark-blue);
	--search-input-color: var(--color-white);
	--search-input-valid-color: var(--color-white);
	--search-input-placeholer: var(--color-white);
	--additional-inf-lesson-name: var(--color-blue);
	--additional-inf-lesson-time: var(--color-pink);
	--info-sourse-label-color: var(--color-blue);
	--info-sourse-label-link-color: var(--color-pink);
	--article-background: var(--color-background);
	--article-borders: var(--color-dark);
	--lesson-hover-background: var(--color-border);
	--day-name: var(--color-blue);
	--lesson-time: var(--color-blue);
	--lesson-classroom: var(--color-pink);
	--lesson-type: var(--color-white);
	--lesson-box-shadow: var(--color-dark-dark);
	--settings-button-open: var(--color-dark-dark);
	--settings-button-close: var(--color-dark);
	--settings-background: var(--color-background);
	--settings-background-background: var(--color-black);
	--settings-title: var(--color-blue);
	--setting-delimiter: var(--color-dark-dark);
	--settings-button-open-hover: var(--color-white);
	--settings-button-close-hover: var(--color-dark-pink);
	--preloader-fill: var(--color-dark-blue);
	--switch-unactive-color: var(--color-border);
}

* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

body {
	min-width: 1200px;
	background-color: var(--body-background);
	color: var(--text-default);
	position: relative;
	height: max-content;
	min-height: 100vh;
}

.display_none {
	display: none !important;
}

.down {
	color: var(--text-date-down);
}

.up {
	color: var(--text-date-up);
}

/*прелоадер*/

#main-preloader {
	z-index: 10000;
	background-image: radial-gradient( circle, transparent 50%, var(--main-preloader-vignette) 150%), linear-gradient(130deg, var(--main-preloader-top-left-background) 20%, var(--main-preloader-bottom-right-background) 80%);
}

#main-preloader img {
	width: 30%;
	opacity: 1;
	animation: opacity-change 3s linear 0.5s infinite;
}

@keyframes opacity-change {
	from {
		opacity: 1;
	}
	50% {
		opacity: 0.1;
	}
	to {
		opacity: 1;
	}
}

@keyframes preloader-rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/*основа*/

.grid {
	display: grid;
	gap: 5px;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: 50px 1fr;
	grid-template-areas: "logo title null" "aside article article";
	max-width: 1920px;
	margin: auto;
	padding-bottom: 5px;
	height: max-content;
}

@media(max-height:1080px) {
	.grid {
		min-height: 100vh;
	}
}

@media(min-height:1080px) {
	.grid {
		min-height: 1080px;
	}
}

/*Шапка*/

.header_background {
	left: 0;
	position: absolute;
	height: 50px;
	width: 100%;
	min-width: 1200px;
	background-color: var(--header-background);
	z-index: -1;
}

.title {
	grid-area: title;
	font-size: 20px;
	color: var(--header-text);
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	grid-area: logo;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo * {
	height: 100%;
}

/*Сайдбар*/

aside {
	position: relative;
	background-color: var(--aside-background);
	grid-area: aside;
	margin-left: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 10px;
}

aside>div {
	margin-bottom: 15px;
}

aside>div:first-of-type {
	margin-top: 10px;
}

aside>span {
	margin-top: auto;
	padding: 5px 10px;
	color: var(--info-sourse-label-color);
}

aside>span>a {
	color: var(--info-sourse-label-link-color);
}

/*Поиск*/

.search {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	border: 1.5px solid var(--aside-block-border);
	padding: 0 10px;
}

.search>div {
	padding: 10px 0;
	border-bottom: 1px solid var(--aside-block-border);
	text-align: center;
	width: 100%;
}

.search>div:nth-last-child(1) {
	border-bottom: none;
}

.but {
	width: 190px;
	height: 30px;
	outline: none;
	border: none;
	background-color: var(--button-background);
	color: var(--button-color);
	cursor: pointer;
}

.but.background-change {
	transition: background-color 0.1s ease-in-out;
}

.but.background-change:active {
	background-color: var(--button-active);
}

.but:disabled {
	background-color: var(--button-disabled-background);
	color: var(--button-disabled-color);
	cursor: default;
}

.switch {
	position: relative;
}

.but_additional {
	cursor: pointer;
	margin-bottom: 15px;
}

aside select {
	background-color: var(--select-background);
	color: var(--select-text);
	border-color: var(--select-border);
	outline: none;
}

.search input {
	width: 190px;
	height: 30px;
	outline: none;
	border: none;
	background-color: var(--search-input-background);
	color: var(--search-input-color);
	text-align: center;
	transition: background-color 0.2s ease-in-out;
}

.search input::placeholder {
	color: var(--search-input-placeholer);
}

.search input:focus::placeholder {
	color: transparent;
}

.search input::-webkit-calendar-picker-indicator {
	background-color: inherit;
	display: none;
}

.search input.valid {
	background-color: var(--search-input-valid-background);
	color: var(--search-input-valid-color);
}

/*Описание предмета*/

.additional_inf {
	margin-top: 40px;
	display: grid;
	justify-items: center;
	align-items: center;
	width: 226px;
	padding: 0 10px 10px 10px;
	position: relative;
	border: 1.5px solid var(--aside-block-border);
}

.additional_inf.empty {
	margin-top: 0;
	padding: 10px;
}

.additional_inf.empty>div {
	width: 100%;
	text-align: center;
}

.additional_inf, .additional_inf .lesson_img::before {
	transition: box-shadow 0.1s ease-in-out;
}

.additional_inf:hover, .additional_inf:hover .lesson_img::before {
	box-shadow: 2px 2px 10px var(--lesson-box-shadow);
}

.additional_inf>div {
	width: 100%;
}

.additional_inf span:hover {
	text-decoration: underline;
	cursor: pointer;
}

.additional_inf .lesson_type {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 16px;
	width: auto;
	color: var(--additional-inf-lesson-name);
}

.additional_inf .lesson_week {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 16px;
	width: auto;
}

.additional_inf .lesson_img {
	position: absolute;
	width: 80px;
	height: 80px;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
}

.additional_inf .lesson_img::before {
	content: "";
	position: absolute;
	width: 83px;
	height: 41px;
	left: -1.5px;
	top: -1.5px;
	background: var(--aside-block-border);
	border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

.additional_inf .lesson_img img {
	position: absolute;
	width: 80px;
	height: 80px;
	background-color: var(--aside-background);
	border-radius: 50%;
}

.additional_inf .lesson_name {
	color: var(--additional-inf-lesson-name);
	margin-top: 45px;
	font-size: 20px;
	text-align: center;
}

.additional_inf .lesson_time {
	margin-top: 2px;
	color: var(--additional-inf-lesson-time);
	font-size: 10px;
	text-align: center;
}

.additional_inf .lesson_preps {
	font-size: 13px;
	margin-top: 15px;
}

.additional_inf .lesson_preps>span {
	display: block;
}

.additional_inf .lesson_groups {
	font-size: 13px;
	margin-top: 15px;
}

.additional_inf .lesson_where {
	font-size: 13px;
	margin-top: 15px;
}

/*Вне сетки*/

.additional_lessons {
	display: grid;
	justify-items: center;
	align-items: center;
	border: 1.5px solid var(--aside-block-border);
	width: 226px;
	position: relative;
	padding: 10px 0;
	text-align: center;
}

.additional_lessons.empty {
	padding: 10px;
}

.additional_lessons>div {
	display: grid;
	width: 100%;
	grid-template-columns: 25px 1fr;
	grid-template-areas: "add_type add_lesson" "add_type add_classroom";
	gap: 2px 5px;
	padding: 10px 10px;
	transition: box-shadow 0.1s ease-out;
}

.additional_lessons>div:hover {
	box-shadow: 2px 2px 15px var(--lesson-box-shadow);
	cursor: pointer;
}

.additional_lessons div .type {
	grid-area: add_type;
	font-size: 18px;
	text-align: left;
	align-self: center;
	color: var(--lesson-type);
}

.additional_lessons div .lesson {
	grid-area: add_lesson;
	font-size: 12px;
	text-align: left;
}

.additional_lessons div .classroom {
	grid-area: add_classroom;
	font-size: 11px;
	text-align: left;
	color: var(--lesson-classroom);
}

/*Осн. Контент*/

article {
	position: relative;
	background-color: var(--article-background);
	grid-area: article;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	overflow-y: auto;
}

article.time_up .lesson_down {
	display: none !important;
}

article.time_down .lesson_up {
	display: none !important;
}

article>div {
	border-left: 1.5px solid var(--article-borders);
	overflow: hidden;
	text-align: center;
}

.column:first-child {
	border-left: none;
}

.column {
	overflow: visible;
}

.column>div {
	width: calc(100% - 10px);
	padding: 5px;
}

.day_name {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 2.5px;
	border-bottom: 1.5px solid var(--article-borders);
	color: var(--day-name);
}

.column>div:not(.day_name) {
	display: grid;
	grid-template-columns: 25px 1fr;
	grid-template-areas: "time time" "type lesson" "type classroom";
	gap: 2px 5px;
	padding-left: 10px;
	margin: auto;
	visibility: visible;
	transition: box-shadow 0.15s ease-out;
	width: 100%;
}

.column>div:not(.day_name):hover {
	box-shadow: 2px 2px 15px var(--lesson-box-shadow);
	cursor: pointer;
}

.time {
	grid-area: time;
	font-size: 10px;
	text-align: left;
	color: var(--lesson-time);
}

.type {
	grid-area: type;
	font-size: 18px;
	text-align: left;
	align-self: center;
	color: var(--lesson-type);
}

.lesson {
	grid-area: lesson;
	font-size: 12px;
	text-align: left;
}

.classroom {
	grid-area: classroom;
	font-size: 11px;
	text-align: left;
	color: var(--lesson-classroom);
}

article .preloader {
	background-color: transparent;
}

article .preloader>svg {
	width: 20%;
}

article .preloader>svg>* {
	animation: preloader-rotate 0.5s linear infinite;
}

/*Переключатель*/

.switch {
	height: 30px;
}

.switch label {
	display: block;
	left: 0px;
	top: 0;
	position: relative;
	width: 190px;
	height: 30px;
	z-index: 10;
	line-height: 30px;
	background: var(--aside-block-border);
	cursor: pointer;
}

.switch label:after {
	content: "Нижняя";
	width: 95px;
	height: 30px;
	position: absolute;
	left: 0px;
	top: 0px;
	display: block;
	background: var(--button-background);
	transition: all 0.2s linear;
	cursor: pointer;
	text-align: center;
	color: var(--button-color);
	font-size: 14px;
}

.switch #checkbox {
	display: none;
}

.switch #checkbox:checked+label {
	left: 0px;
}

.switch #checkbox:checked+label:after {
	left: 95px;
	background: var(--button-active);
	content: "Верхняя";
}

.switch label>div {
	width: 100%;
	position: relative;
	display: flex;
}

.switch label>div:after, .switch label>div:before {
	width: 95px;
	height: 30px;
	display: block;
	text-align: center;
	font-size: 14px;
	color: var(--switch-unactive-color);
}

.switch label>div:before {
	content: "Нижняя";
}

.switch label>div:after {
	content: "Верхняя";
}