:root {
	/* Светлая тема  */
	--color-white: #fff;
	--color-gray: #e6e6e6;
	--color-dark-gray: #c6c6c6;
	--color-blue: #005aaa;
	--color-pink: #e72b70;
	--color-black: #000;
	--text-default: var(--color-black);
	--body-background: var(--color-gray);
	--header-background: var(--color-white);
	--header-text: var(--color-blue);
	--aside-background: var(--color-white);
	--text-date-dn: var(--color-blue);
	--text-date-em: var(--color-pink);
	--aside-block-border: var(--color-gray);
	--button-background: var(--color-blue);
	--button-active: var(--color-pink);
	--button-text: var(--color-white);
	--search-input-background: var(--color-pink);
	--search-input-text: var(--color-white);
	--search-input-placeholer: var(--color-white);
	--additional-inf-lesson-name: var(--color-blue);
	--additional-inf-lesson-time: var(--color-pink);
	--article-background: var(--color-white);
	--article-borders: var(--color-gray);
	--lesson-hover-background: var(--color-gray);
	--day-name: var(--color-blue);
	--lesson-time: var(--color-blue);
	--lesson-classroom: var(--color-pink);
	--lesson-type: var(--color-black);
	--lesson-box-shadow: var(--color-gray);
	--settings-button-open: var(--color-dark-gray);
	--settings-button-close: var(--color-gray);
	--settings-background: var(--color-white);
	--settings-background-background: var(--color-black);
	--settings-title: var(--color-blue);
	--setting-delimiter: var(--color-gray);
	--settings-button-open-hover: var(--color-blue);
	--settings-button-close-hover: var(--color-pink);
}

body.dark {
	/* Темная тема  */
	--color-black: #000;
	--color-dark: #141414;
	--color-dark-dark: #111111;
	--color-background: #212121;
	--color-white: #ccc;
	--color-border: #414141;
	--color-blue: #3589D4;
	--color-dark_blue: #005aaa;
	--color-pink: #ff4c8e;
	--color-dark-pink: #e72b70;
	--text-default: var(--color-white);
	--body-background: var(--color-dark);
	--header-background: var(--color-background);
	--header-text: var(--color-blue);
	--aside-background: var(--color-background);
	--text-date-dn: var(--color-blue);
	--text-date-em: var(--color-pink);
	--aside-block-border: var(--color-dark);
	--button-background: var(--color-dark_blue);
	--button-active: var(--color-dark-pink);
	--button-text: var(--color-white);
	--search-input-background: var(--color-dark);
	--search-input-text: var(--color-white);
	--search-input-placeholer: var(--color-white);
	--additional-inf-lesson-name: var(--color-blue);
	--additional-inf-lesson-time: var(--color-pink);
	--article-background: var(--color-background);
	--article-borders: var(--color-dark);
	--lesson-hover-background: var(--color-border);
	--day-name: var(--color-blue);
	--lesson-time: var(--color-blue);
	--lesson-classroom: var(--color-pink);
	--lesson-type: var(--color-white);
	--lesson-box-shadow: var(--color-dark-dark);
	--settings-button-open: var(--color-dark-dark);
	--settings-button-close: var(--color-dark);
	--settings-background: var(--color-background);
	--settings-background-background: var(--color-black);
	--settings-title: var(--color-blue);
	--setting-delimiter: var(--color-dark-dark);
	--settings-button-open-hover: var(--color-white);
	--settings-button-close-hover: var(--color-dark-pink);
}

* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

body {
	min-width: 1200px;
	background-color: var(--body-background);
	color: var(--text-default);
	position: relative;
	height: max-content;
	min-height: 100vh;
}

.display_none {
	display: none !important;
}

/*прелоадер*/

.preloader {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10000;
	background-image: linear-gradient(130deg, rgb(0, 90, 170) 20%, rgb(231, 43, 112) 80%);
}

/*основа*/

.grid {
	display: grid;
	gap: 5px;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 50px 1fr;
	grid-template-areas: "header header" "aside article";
	max-width: 1920px;
	margin: auto;
	padding-bottom: 5px;
	height: max-content;
}

@media(max-height:1080px) {
	.grid {
		min-height: 100vh;
	}
}

@media(min-height:1080px) {
	.grid {
		min-height: 1080px;
	}
}

/*Шапка*/

.header_background {
	left: 0;
	position: absolute;
	height: 50px;
	width: 100%;
	min-width: 1200px;
	background-color: var(--header-background);
	z-index: -1;
}

header {
	grid-area: header;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	justify-items: center;
	align-items: center;
}

header img {
	height: 100%;
}

header a {
	height: 100%;
}

header div {
	font-size: 20px;
	color: var(--header-text);
}

/*Сайдбар*/

aside {
	background-color: var(--aside-background);
	grid-area: aside;
	margin-left: 5px;
}

.date {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.date.dn {
	color: var(--text-date-dn);
}

.date.em {
	color: var(--text-date-em);
}

/*Поиск*/

.aside_center {
	width: max-content;
	height: max-content;
	margin: auto;
	margin-bottom: 10px;
}

.search {
	display: grid;
	justify-items: center;
	align-items: center;
	border: 2px solid var(--aside-block-border);
}

.search>div {
	padding: 10px 5px;
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: 1px solid var(--aside-block-border);
	text-align: center;
	width: calc(100% - 20px);
}

.search>div:nth-last-child(1) {
	border-bottom: none;
}

.but {
	width: 190px;
	height: 30px;
	outline: none;
	border: none;
	background-color: var(--button-background);
	color: var(--button-text);
}

.but:active {
	background-color: var(--button-active);
}

.switch {
	position: relative;
}

.but_additional_lessons {
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}

aside select {
	background-color: var(--select-background);
	color: var(--select-text);
	border-color: var(--select-border);
	outline: none;
}

.search input {
	width: 190px;
	height: 30px;
	outline: none;
	border: none;
	background-color: var(--search-input-background);
	color: var(--search-input-text);
	text-align: center;
	margin-top: 5px;
}

.search input::-webkit-input-placeholder {
	color: var(--search-input-placeholer);
}

.search input::-webkit-calendar-picker-indicator {
	background-color: inherit;
	display: none;
}

.search input:-moz-placeholder {
	color: var(--search-input-placeholer);
}

.search input::-moz-placeholder {
	color: var(--search-input-placeholer);
}

.search input:-ms-input-placeholder {
	color: var(--search-input-placeholer);
}

/*Описание предмета*/

.additional_inf {
	margin-top: 50px;
	display: grid;
	justify-items: center;
	align-items: center;
	width: 226px;
	padding: 0 10px;
	position: relative;
	padding-bottom: 10px;
	border: 2px solid var(--aside-block-border);
}

.additional_inf, .additional_inf .lesson_img::before {
	transition: box-shadow 0.1s ease-in-out;
}

.additional_inf:hover, .additional_inf:hover .lesson_img::before {
	box-shadow: 2px 2px 10px var(--lesson-box-shadow);
}

.additional_inf>div {
	width: 100%;
}

.additional_inf .lesson_img {
	position: absolute;
	width: 80px;
	height: 80px;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
}

.additional_inf .lesson_img::before {
	content: "";
	position: absolute;
	width: 84px;
	height: 42px;
	left: -2px;
	top: -2px;
	background: var(--aside-block-border);
	border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

.additional_inf .lesson_img::after {
	content: "";
	position: absolute;
	width: 80px;
	height: 80px;
	background-image: url("../img/1.png");
	background-size: contain;
	border-radius: 50%;
}

.additional_inf .lesson_name {
	color: var(--additional-inf-lesson-name);
	margin-top: 45px;
	font-size: 20px;
	text-align: center;
}

.additional_inf .lesson_time {
	margin-top: 2px;
	color: var(--additional-inf-lesson-time);
	font-size: 10px;
	text-align: center;
}

.additional_inf .lesson_teach {
	font-size: 13px;
	margin-top: 15px;
}

.additional_inf .lesson_groups {
	font-size: 13px;
	margin-top: 15px;
}

.additional_inf .lesson_where {
	font-size: 13px;
	margin-top: 15px;
}

.additional_inf span:hover {
	text-decoration: underline;
	cursor: pointer;
}

/*Вне сетки*/

.additional_lessons {
	margin-top: 10px;
	display: grid;
	justify-items: center;
	align-items: center;
	border: 2px solid var(--aside-block-border);
	width: 226px;
	position: relative;
	padding: 10px 0;
}

.additional_lessons>div {
	display: grid;
	width: 100%;
	grid-template-columns: 25px 1fr;
	grid-template-areas: "add_type add_lesson" "add_type add_classroom";
	gap: 2px 5px;
	padding: 10px 10px;
	transition: box-shadow 0.1s ease-out;
}

.additional_lessons>div:hover {
	box-shadow: 2px 2px 15px var(--lesson-box-shadow);
	cursor: pointer;
}

.additional_lessons div .type {
	grid-area: add_type;
	font-size: 18px;
	text-align: left;
	align-self: center;
	color: var(--lesson-type);
}

.additional_lessons div .lesson {
	grid-area: add_lesson;
	font-size: 12px;
	text-align: left;
}

.additional_lessons div .classroom {
	grid-area: add_classroom;
	font-size: 11px;
	text-align: left;
	color: var(--lesson-classroom);
}

/*Осн. Контент*/

article {
	background-color: var(--article-background);
	grid-area: article;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	overflow-y: auto;
}

article.time_em .lesson_dn {
	display: none !important;
}

article.time_dn .lesson_em {
	display: none !important;
}

article>div {
	border-left: 1.5px solid var(--article-borders);
	overflow: hidden;
	text-align: center;
}

.column:first-child {
	border-left: none;
}

.column {
	overflow: visible;
}

.column>div {
	width: calc(100% - 10px);
	padding: 5px;
}

.day_name {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 2.5px;
	border-bottom: 1.5px solid var(--article-borders);
	color: var(--day-name);
}

.column>div:not(.day_name) {
	display: grid;
	grid-template-columns: 25px 1fr;
	grid-template-areas: "time time" "type lesson" "type classroom";
	gap: 2px 5px;
	padding-left: 10px;
	margin: auto;
	visibility: visible;
	transition: box-shadow 0.15s ease-out;
	width: 100%;
}

.column>div:not(.day_name):hover {
	box-shadow: 2px 2px 15px var(--lesson-box-shadow);
	cursor: pointer;
}

.time {
	grid-area: time;
	font-size: 10px;
	text-align: left;
	color: var(--lesson-time);
}

.type {
	grid-area: type;
	font-size: 18px;
	text-align: left;
	align-self: center;
	color: var(--lesson-type);
}

.lesson {
	grid-area: lesson;
	font-size: 12px;
	text-align: left;
}

.classroom {
	grid-area: classroom;
	font-size: 11px;
	text-align: left;
	color: var(--lesson-classroom);
}

/*Переключатель*/

.switch {
	height: 30px;
	margin-bottom: 10px;
}

.switch label {
	display: block;
	left: 0px;
	top: 0;
	position: relative;
	width: 190px;
	height: 30px;
	z-index: 10;
	line-height: 30px;
	background: var(--aside-block-border);
	cursor: pointer;
}

.switch label:after {
	content: "Нижняя";
	width: 100px;
	height: 30px;
	position: absolute;
	left: 0px;
	top: 0px;
	display: block;
	background: var(--button-background);
	transition: all 0.2s linear;
	cursor: pointer;
	text-align: center;
	color: var(--button-text);
	font-size: 14px;
}

.switch #checkbox {
	display: none;
}

.switch #checkbox:checked+label {
	left: 0px;
}

.switch #checkbox:checked+label:after {
	left: 90px;
	background: var(--button-active);
	content: "Верхняя";
}