.additional_inf {
    margin-top: 40px;
    display: grid;
    justify-items: center;
    align-items: center;
    width: 226px;
    padding: 0 10px 10px 10px;
    position: relative;
    border: 1.5px solid var(--aside-block-border);

    &.empty {
        margin-top: 0;
        padding: 10px;
    }

    &.empty > div {
        width: 100%;
        text-align: center;
    }

    > div {
        width: 100%;
    }

    span:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .type {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 1rem;
        width: auto;
        color: var(--additional-inf-lesson-name);
    }

    .week {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1rem;
        width: auto;
        color: var(--text-date-down);
        transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
        &.up {
            transform: rotate(180deg);
            color: var(--text-date-up);
        }
    }

    .img {
        position: absolute;
        width: 80px;
        height: 80px;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        &::before {
            content: "";
            position: absolute;
            width: 83px;
            height: 41px;
            left: -1.5px;
            top: -1.5px;
            background: var(--aside-block-border);
            border-radius: 50% 50% 0 0 / 100% 100% 0 0;
        }
        > * {
            position: absolute;
            width: 80px;
            height: 80px;
            background-color: var(--aside-background);
            border-radius: 50%;
        }
    }

    .name {
        color: var(--additional-inf-lesson-name);
        margin-top: 45px;
        font-size: 1.25rem;
        text-align: center;
    }

    .time {
        margin-top: 2px;
        color: var(--additional-inf-lesson-time);
        font-size: 0.625rem;
        text-align: center;
    }

    .preps {
        font-size: 0.8125rem;
        margin-top: 15px;
    }

    .preps > span {
        display: block;
        color: var(--additional-inf-preps-name);

        &:not(:first-child):not(:last-child) {
            margin: 5px 0;
        }
    }

    .groups {
        font-size: 0.8125rem;
        margin-top: 15px;
        width: 100%;
    }

    .groups > span {
        color: var(--additional-inf-group-number);
    }

    .where {
        font-size: 0.8125rem;
        margin-top: 15px;
    }

    .where > span {
        color: var(--additional-inf-rooms-number);
    }
}
